* {
    font-family: 'Manrope', sans-serif;
}

.alert_a_tag {
    text-decoration: none;
    color: black;
}

.yellow {
    background-color: yellow;
}

.redirect {
    text-decoration: none;
}

.alert {
    text-align: center;
}

.bigbutton img {
    margin-top: 60px;
    margin-left: 0px;
    width: 100%;
}

#logo {
    width: 40px;
    height: 40px;
}

.d-flex {
    width: 100%;
    margin-left: -10px;
    margin-right: 60px;
}

.navbar-toggler {
    float: right;
}

#main_icons {
    font-size: 10px;
}