
div.background {
    background-image: url(../images/connections_bg.jpeg);
    background-color: #0B2447;
    height: auto;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
}

div.transbox {
    background-color: #ffffff;
    opacity: 0.8; 
    padding: 60% 5%;
    margin-top: -10%
}

div.transbox p {
    margin: 5%;
    color: #000000;
}

p{
    font-size: smaller;
}