
div.background {
    background: url(./images/connections_bg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10% 10%;
    border: 1px solid black;
}

div.transbox {
    margin: 20px;
    background-color: #ffffff;
    border: 1px solid white;
    opacity: 0.9;
}

div.transbox p {
    margin: 0%;
    color: #000000;
}
