* {
    font-family: 'Manrope', sans-serif;
}

/* Back Button Style */
button{
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    border: none;
}

.previous.round {
    background-color: #f1f1f1;
    border-radius: 50%;
}

/* ################# */

.alert_a_tag {
    text-decoration: none;
    color: black;
}

.yellow {
    background-color: yellow;
    margin-left: -5%;
    margin-right: -5%;
}

.navbar {
    margin-left: -5%;
    margin-right: -5%;
}

.redirect {
    text-decoration: none;
}

.alert {
    text-align: center;
}

.bigbutton img {
    margin-top: 30px;
    margin-left: 0px;
    width: 100%;
}

#account_setting a {
    text-decoration: none;
    color: black;
}

/* (corey) try and avoid creating classes that are identical to preset bootstrap classes. You can override them with any name you want I believe for the specific thing you want to change.. i think ahah */
/* (corey) this is the class that is causing the issue with the navbar I think */
/* If this is being used somewhere else create a new class or id  */
.d-flex {
    /* width: 100%;
    margin-left: -10px;
    margin-right: 60px; */
}

.navbar-toggler {
    float: right;
}

#main_icons {
    font-size: 10px;
}

/* (Amy) search icon in nav bar */
.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

#main_icons a {
    text-decoration: none;
}

/* (Amy) search icon outline */
.btn-outline-success {
    border-radius: 5px;
    padding: 0.1rem 0.1rem 0.1rem 0.5rem;
}

/* (Amy) search window style */
/* Need to make search window wider!! */
.form-control {
    width: 200%;
    border-radius: 5px;
    padding: 0.1rem 1.1rem 0.1rem 1.5rem;
}

/* (Amy) search window outline style */
.material-symbols-outlined {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-right: 0.5rem;
}

/* (Amy) main icon - href */
#main_icons a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: black;
}

/* (Amy) icon style */
#main_icons span {
    font-size: 30px;
}

#main_icons div {
    font-size: 10px;
}

/* (Amy) home text alignment */
#homeIcon {
    margin-left: -10%;
}

/* (Amy) resource text alignment */
#resourceIcon {
    margin-right: 7%;
}

/* (Amy) User setting icon */
#user_setting_icon {
    margin-left: 5%;
}

#buddy_preferences {
    margin-bottom: 0;
    margin-top: 20px
}